<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>Login</title>
    <link rel="stylesheet" href="layout/css/bootstrap.min.css" />
    <link rel="stylesheet" href="layout/css/backend.css" />
    <link rel="stylesheet" href="layout/css/all.min.css" />
</head>
<body>
<form class="login" action="/ecommerce/admin/index.php" method="POST">
    <h4 class="text-center">Login Admin</h4>
    <input class="form-control" type="text" name="user" placeholder="Username" autocomplete="off" />
    <input class="form-control" type="password" name="pass" placeholder="Password" autocomplete="new-password">
    <input class="btn btn-primary btn-block" type="submit" value="Login">
</form>


    <div class="footer">
    </div>

    <script src="layout/js/jquery-3.6.0.min.js"></script>
    <script src="layout/js/bootstrap.min.js"></script>
    <script src="layout/js/backend.js"></script>
</body>
</html>